/* Cropper styles */
html {
	margin:			0;
	padding:		0;
	background:		#fff;
}
body {
	margin:			15px;
	padding:		0;
	font:			11px/14px verdana, sans-serif;
	color:			#555;
	background:		#fff;
}
p {
	text-align:		justify;
}
h1 {
	margin:			0 0 0.4em 0;
	font:			bold 16px/18px helvetica, arial, sans-serif;
	color:			#333;
}
h2 {
	margin:			0 0 1em 0;
	font:			bold 11px/13px verdana, sans-serif;
	color:			#333;
}
ul {
	margin:			0 0 1em 2em;
	padding:		0;
	list-style-type:	none;
}
li {
	margin:			0;
	padding:		0;
}
form, table, p {
	margin:			0 0 1em 0;
}
input {
	width:			3em;
}
a {
	color:			#888;
	text-decoration:	none;
}
a:hover {
	color:			#933;
}
#divText {
	padding:		5px 10px 5px 10px;
	width:			390px;
}
#divCropImageBorder {
	border:			1px solid #000;
}
#cropImageContainer {
	position:		relative;
	left:			0;
	top:			0;
	z-index:		1;
	cursor:			crosshair;
	background:		#000;
}
#cropImage {
	display:		block;
	position:		relative;
	left:			0;
	top:			0;
	z-index:		3;
	cursor:			crosshair;
}
.divSelectionHor {
	position:		absolute;
	left:			0;
	top:			0;
	width:			1px;
	height:			1px;
	font:			1px/1px verdana, sans-serif;
	background:		transparent url("../media/selection_horizontal_static.gif") repeat-x;
	z-index:		10;
	cursor:			crosshair;
	visibility:		hidden;
}
.divSelectionVer {
	position:		absolute;
	left:			0;
	top:			0;
	width:			1px;
	height:			1px;
	font:			1px/1px verdana, sans-serif;
	background:		transparent url("../media/selection_vertical_static.gif") repeat-y;
	z-index:		10;
	cursor:			crosshair;
	visibility:		hidden;
}
#imageCropSelection {
	position:		absolute;
	left:			0px;
	top:			0px;
	display:		block;
	overflow:		hidden;
	z-index:		9;
	visibility:		hidden;
}
#divShield {
	position:		absolute;
	left:			0;
	top:			0;
	background:		#000;
	z-index:		4;
	cursor:			default;
	visibility:		hidden;
	filter:			alpha(opacity=80);
	opacity:		0.8;
	-moz-opacity:	0.8;
}
/* end */