.commententry{
	clear: both;
	margin-bottom: 40px;
}

.commententry .commententry_bar{
	margin-bottom: 10px;
	border-bottom: 1px solid #EFEFEF;
}

.commententry .commententry_bar ul{
	float: right;
	margin: 0px;
	padding: 0px;
}

.commententry .commententry_bar li{
	float: left;
	padding-right: 6px;
	list-style: none;
}

.commententry .commententry_count{
	float: left;
	background-color: #EFEFEF;
	width: 30px;
	height: 20px;
	text-align: center;
}

.commententry .commententry_profile{
	float: left;
	width: 100px;
}

.commententry .commententry_profile ul{
	margin: 0px;
	padding: 0px;
}

.commententry .commententry_profile li{
	float: left;
	padding-right: 6px;
	list-style: none;
}

.commententry .commententry_author{
	margin-bottom: 6px;
}

.commententry .commententry_authorimg{
}

.commententry .commententry_content{
}

.commententry .commententry_datetime{
	font-size: 10px;
}

.commententry .commententry_title{
}

.commententry .commententry_text{
	margin-top: 10px;
	margin-left: 100px;
	padding: 10px;
	background-color: #EFEFEF;
}