<IfModule dir_module>
DirectoryIndex index.cfm
ErrorDocument 404 index.cfm?fuseaction=general.http404
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On

# Default
RewriteRule ^index.cfm/(.*)$ ?$1 [PT,L]

# SES URLs
RewriteCond %{REQUEST_FILENAME} !index.cfm$
RewriteCond %{REQUEST_FILENAME} !robots.txt$
RewriteCond %{REQUEST_FILENAME} !favicon.ico$
RewriteRule ^([a-z0-9_-]*\.[a-z0-9_-]*)(/(.*))? index.cfm?fuseaction=$1&$2 [PT,L]

# Cache: Images
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^storage/public/cache/images/([0-9]*)x([0-9]*)(_[a-z]*)?/(.*)$ index.cfm?fuseaction=general.imagecache&width=$1&height=$2&method=$3&file=$4 [PT,L]

# Cache: Images
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^storage/public/cache/images/([a-z_]*)/(.*)$ index.cfm?fuseaction=general.imagecache&profile=$1&file=$2 [PT,L]
</IfModule>