<IfModule dir_module>
DirectoryIndex index.cfm
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index.cfm/(.*) ^index.cfm?$1 [PT,L]
RewriteRule ^([a-z_-]*\.[a-z_-]*)(/(.*))? ^index.cfm?fuseaction=$1&$2 [PT,L]
</IfModule>