<IfModule dir_module>
DirectoryIndex index.cfm
ErrorDocument 404 index.cfm?fuseaction=general.http404
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index.cfm/(.*)$ ?$1 [PT,L]
RewriteCond %{REQUEST_FILENAME} !index.cfm$
RewriteCond %{REQUEST_FILENAME} !robots.txt$
RewriteCond %{REQUEST_FILENAME} !favicon.ico$
RewriteRule ^([a-z0-9_-]*\.[a-z0-9_-]*)(/(.*))? index.cfm?fuseaction=$1&$2 [PT,L]
</IfModule>