@import url('../js/ext/resources/css/ext-all.css');

body .x-panel {margin-bottom:20px;}
.icon-grid {background-image:url(../images/famfamfam/icons/application_view_list.png) !important;}
#button-grid .x-panel-body {border:1px solid #99bbe8;border-top:0 none;}
.add {background-image:url(../images/famfamfam/icons/add.png) !important;}
.edit {background-image:url(../images/famfamfam/icons/cog_edit.png) !important;}
.option {background-image:url(../images/famfamfam/icons/plugin.png) !important;}
.remove {background-image:url(../images/famfamfam/icons/delete.png) !important;}
.save {background-image:url(../images/famfamfam/icons/save.png) !important;}
.icon-edit-record {background-image:url(../images/famfamfam/icons/page_edit.png) ! important;}
.icon-delete-record {background-image:url(../images/famfamfam/icons/delete.png) ! important;}
.x-grid3-hd-row td.ux-filtered-column {font-style: italic;font-weight: bold;}