@import "ext-all.css";
@import "ext-ux.grid.RowActions.css";
@import "uni-form.css";

.errorBox{
	color: #c00;
}

.errorBox h3{
	background: url(../images/famfamfam/icons/error.png) no-repeat center left;
	padding-left: 24px;
	font-weight: bold;
	color: #c00;
}

div.clearer {
	clear:both;
	font-size:0px;
	line-height:0px;
	display:block;
	height:0px;
}